/* src/components/Footer.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.footer-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-item {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.footer-item:hover {
  color: #ddd;
}
