/* src/assets/styles/RecipeBox.css */
.home-page {
  width: 90%; /* Set the width to a percentage */
  max-width: 600px; /* Set a max-width to prevent it from getting too wide */
  margin: 20px auto; /* Center the box horizontally and add vertical margin */
  padding: 20px;
  background-color: #434343;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add media queries for different screen sizes */
@media (max-width: 768px) {
  .home-page {
    width: 95%; /* Increase the width for smaller screens */
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .home-page {
    width: 100%; /* Make the box full width for very small screens */
    padding: 10px;
  }
}
